main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  padding: 24px;
}

.imagePokemon {
  height: 500px;
  width: 550px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 600px;
  image-rendering: pixelated;
  filter: brightness(0);
}

.visible {
  filter: none;
}

form {
  display: flex;
  width: 80%;
}
