main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  padding: 24px;
}

section {
  display: flex;
  justify-content: space-between;
  max-width: 1250px;
  flex-wrap: wrap;
}

article {
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

article, aside {
  padding: 0 15px;
}

.imagePokemon {
  height: 400px;
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  image-rendering: pixelated;
  filter: brightness(0);
}

.visible {
  filter: none;
}

form {
  display: flex;
}

.swal-title, .swal-text {
  color: #212529;
}

@media (min-width: 768px) {
  article {
    width: 65%;
  }
  aside {
    width: 35%;
    margin-top: 20px;
  }
}
